body {
    background-color: rgba(0,0,244,10%)
  }
  
  img {
    display: block;
    border-radius: 5px;
    margin: 0;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    justify-content: center;
  }
  
  #img-caption {
    margin: 10px auto;
  }
  
  #tribute-info {
    margin: 10px auto;
  }
  
  #tribute-info2 {
    margin: 30px 0 10px 0;
  }
  
  a {
    padding-bottom: 30px;
  }
  
  h1, div {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  }